*{
	box-sizing: border-box;
} 

body{
	margin: 0;
	padding-top: 70px;
	background-color: #e4e4e4;
}



 .nav {
 	margin-left: 80px; 
 }  

form.navbar-form{ 
	margin-left: 250px; 
} 

form.navbar-form .form-group input{
	width: 200px;
	border-radius: 0;
}

ul.nav li{
	font-size: 12.5px;
	font-weight: bold;  
}

.top{
	margin-top: -20px;
}

.top .jumbotron{
	background-color: #f1f1f1;
	height: 190px;
	position: relative;
}

 .jumbotron #imgtop1 {
 	 position: absolute;
 	 padding-left: 50px;
 }

  .jumbotron #imgtop2 {
 	padding-left: 550px;
 	 position: absolute;
 	 
 }

 .linea {
 	height: 50px;
 	background-color: #3a5e8b;
 	margin-top: -30px;
 	border: 0.5px solid #8b9b42;
 }

.middle{ 
	height: 5000px;
	
}

.middle a{
	color: white;
	font-weight: bold;
}
 .navbar2  li{
	float: left;
	padding-right: 10px;
	list-style-type: none;	
}

 .colizquierda{
 	padding-left: 0;
 }

.colizquierda h3{
	margin-left: 30px;
}
 .colizquierda .titpeque{
 	 
 	font-weight: bold;
 	clear: both;
 	font-size: 20px;
 }

  .colizquierda .titpeque .quien p{
 	 
 text-align: center;
 }

 .colizquierda img {
 	float: left;
 	margin-right: 10px;
 }

 .colizquierda .centerimg{
 	margin:30px 200px;
 	  
 }

 .colizquierda .colizqimg{
	width: 30%; 
	margin-top: 50px;
	clear: both;
}

.colizquierda #clear{
	clear:both;
}

.colizquierda .quienes p {
font-weight: bold;
font-weight: 30px;
}


 .personas .profile h1{
 	font-size: 20px; 
 }


 .personas .profile h2{
 	font-size: 15px; 
 }
 
 

.lineapeque {
	width: 100%;
	height:2px;
	background-color: #687f2b; 
}

.colderecha img{
	margin:auto;
	margin-top: 15px;
}

.colderecha .siguenos{
	background-color: white;
	height: 20px;
	margin: auto;
	margin-top: 10px;
	width: 73%;
}

.siguenos p{
	font-size: 11px;
	padding-left: 10px;
}


.logos{
 padding-left: 80px;
}


.logos img, .logos2 img{
 	float: left;
 	padding-left: 15px;
	
}

.logos img {
	width: 20%;  
}

 	
 .logos2 img{  
 	width: 20%;
 }

.redesocial{
	margin-top: 20px; 
}

.redesocial h3{
	margin-bottom: 45px;
}




.footer{
	background-color: #687f2b;
	height: 550px;
	margin-bottom: 15px;

}
 
 .footer .infomap {
 	margin-top: 20px; 
 	text-align: center;
 }

 .footer .infomap .embed-responsive{
 
 	margin: 50px 30px;
 	width: 90%;
 }

 

   
